:root {
  --cor-fundo-site: #aa67d6;
  --cor-fundo-calculadora: #1f201d;

  --cor-fundo-visor: #353840;
  --cor-visor-botao-hover: #151515;

  --cor-fundo-numero: #272b2e;
  --cor-fundo-numero-hover: #50585e;
  --cor-numero: #fff;

  --cor-fundo-operador: #5bb3ee;
  --cor-fundo-operador-hover: #0099ff;

  --cor-fundo-acoes: #c5efce;
  --cor-fundo-acoes-hover: #8ff0a4;

  --cor-fundo-active: #c7a4c9;
  --cor-active: #370044;
}

.light {
  --cor-fundo-site: #74ebd5;
  --cor-fundo-calculadora: #fffdfe;

  --cor-fundo-visor: #e9f1fc;
  --cor-visor-botao-hover: #c5c5c5;

  --cor-fundo-numero: #f4f8fb;
  --cor-fundo-numero-hover: #a8b8c5;
  --cor-numero: #000;

  --cor-fundo-operador: #c0e8fb;
  --cor-fundo-operador-hover: #7bcaff;

  --cor-fundo-acore: #c5eed2;
  --cor-fundo-acoes-hover: #9df1af;

  --cor-fundo-active: #573459;
  --cor-active: #dbcbdf;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--cor-fundo-site);
}

.tema_ajuda {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--cor-fundo-operador);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}

.tema, .manual {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.tema:hover, .manual:hover {
  border-radius: 50%;
  background-color: black;
  color: var(--cor-fundo-operador);
}

.manual {
  float: right;
  margin-left: 1rem;
}

.calculadora {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2em;
  overflow: hidden;
  background-color: var(--cor-fundo-calculadora);
}

.visor {
  background-color: var(--cor-fundo-visor);
  color: var(--cor-numero);
  width: 34.5rem;
  padding: 3rem;
  font-size: 2rem;
  text-align: right;
  border-radius: 0 0 2rem 2rem;
}

.backspace {
  padding: 0.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  border-radius: 50%;
}

.backspace:hover {
  background: var(--cor-visor-botao-hover);
}

.operacao {
  float: left;
}

.numero_atual {
  font-size: 5rem;
}

.teclas {
  padding: 3rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(5, 6rem);
  grid-template-areas: 
    'somar subtrair multiplicar dividir'
    'sete oito nove salvar'
    'quatro cinco seis recuperar'
    'um dois tres limpar'
    'zero decimal zero-duplo igual';
}

.zero {
  grid-area: zero;
}

.um {
  grid-area: um;
}

.dois {
  grid-area: dois;
}

.tres {
  grid-area: tres;
}

.quatro {
  grid-area: quatro;
}

.cinco {
  grid-area: cinco;
}

.seis {
  grid-area: seis;
}

.sete {
  grid-area: sete;
}

.oito {
  grid-area: oito;
}

.nove {
  grid-area: nove;
}

.decimal {
  grid-area: decimal;
}

.duplo-zero {
  grid-area: zero-duplo;
}

/* os seletores usados a baixo são seletores de dataset*/
[data-tecla="somar"] {
  grid-area: somar;
}

[data-tecla="subtrair"] {
  grid-area: subtrair;
}

[data-tecla="multiplicar"] {
  grid-area: multiplicar;
}

[data-tecla="dividir"] {
  grid-area: dividir;
}

[data-tipo-tecla="salvar"] {
  grid-area: salvar;
}

[data-tipo-tecla="recuperar"] {
  grid-area: recuperar;
}

[data-tipo-tecla="limpar"] {
  grid-area: limpar;
}

[data-tipo-tecla="igual"] {
  grid-area: igual;
}

.teclas > button {
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
}

[data-tipo-tecla="operador"] {
  background-color: var(--cor-fundo-operador);
}

[data-tipo-tecla="numero"] {
  background-color: var(--cor-fundo-numero);
  color: var(--cor-numero);
}

.acao {
  background-color: var(--cor-fundo-acoes);
}

[data-tipo-tecla="operador"]:hover {
  background-color: var(--cor-fundo-operador-hover);
}

[data-tipo-tecla="numero"]:hover {
  background-color: var(--cor-fundo-numero-hover);
}

.acao:hover {
  background-color: var(--cor-fundo-acoes-hover);
}

[data-tipo-tecla="operador"]:active, [data-tipo-tecla="numero"]:active,
.acao:active {
  background-color: var(--cor-fundo-active);
  color: var(--cor-active);
}
